<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Dashboard - Hỏi Dân IT</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/static/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <head th:replace="layout/header :: header_fragment"></head>
    <div id="layoutSidenav">
        <sidebar th:replace="layout/sidebar :: sidebar_fragment"></sidebar>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">User Update</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/admin/user}">User</a></li>
                        <li class="breadcrumb-item active">User Delete</li>
                    </ol>

                    <hr />
                    <form th:action="@{/admin/user/delete}" method="post">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Adress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" th:text="*{id}">ID</th>
                                    <input type="hidden" class="form-control" th:field="*{id}">
                                    <th scope="row" th:text="*{email}" th:field="*{email}">Email</th>
                                    <th scope="row" th:text="*{phone}" th:field="*{phone}">Full Name</th>
                                    <th scope="row" th:text="*{fullName}" th:field="*{fullName}">Full Name</th>
                                    <th scope="row" th:text="*{address}" th:field="*{address}">Address</th>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-danger">Really want to delete user ?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </main>
            <foot th:replace="layout/footer :: footer_fragment"></foot>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/static/js/scripts.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/chart-area-demo.js}"></script>
    <script th:src="@{/static/js/chart-bar-demo.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/static/js/datatables-simple-demo.js}"></script>
</body>

</html>